{{! <!-- Returning user card -->

<div class="row login center align mx-auto text-center">
	<div class="col s12 14 offset-14">
		<div class="card">
			<div class="card-action black white-text">
				<h3>Login</h3>
			</div>
			<div class="card-content">
				<form action="/api/add" , method="POST">
					<div class="form-field">
						<label for="email">Email</label>
						<input class="email" type="email" id="login-email" />
					</div><br />
					<div class="form-field">
						<label for="password">Password</label>
						<input
							class="password"
							type="text"
							id="login-password"
						/>
					</div><br />

					<div class="form-field center align">
						<button
							class="btn-large red"
							type="submit"
							id="loginBtn"
						>Login</button>
					</div><br />
				</form>
			</div>
		</div>
	</div>

	<div class="col s12 14 offset-14">
		<div class="card">
			<div class="card-action black white-text">
				<h3>Sign Up</h3>
			</div>
			<div class="card-content">
				<form action="/api/add" , method="POST">
					<div class="form-field">
						<label for="email">Email</label>
						<input class="email" type="email" id="register-email" />
					</div><br />
					<div class="form-field">
						<label for="password">Password</label>
						<input
							class="password"
							type="text"
							id="register-password"
						/>
					</div><br />
					<div class="form-field">
						<label for="phone">Phone Number</label>
						<input class="phone" type="text" id="register-phone" />
					</div><br />

					<div class="form-field center align">
						<button
							class="btn-large red"
							type="submit"
							id="signUpBtn"
						>Sign Up</button>
					</div><br />
				</form>
			</div>
		</div>
	</div>
</div> }}
{{#if error}}
	<div class="alert alert-danger" role="alert">
		{{{status}}}:
		{{{error}}}
	</div>
{{/if}}
<div class="h-100 d-flex align-items-center justify-content-center">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<form>
					<h1>Login</h1>
					<p class="lead">Please sign in to your account to access
						ScoreSensei</p>
					<div class="form-group">
						<label for="login-email">Email</label>
						<input
							type="email"
							class="form-control"
							id="login-email"
							placeholder="Email"
						/>
					</div>
					<div class="form-group">
						<label for="login-password">Password</label>
						<input
							type="password"
							class="form-control"
							id="login-password"
							placeholder="Password"
						/>
					</div>
					<button
						type="submit"
						class="btn btn-primary"
						id="loginBtn"
					>Login</button>
				</form>
			</div>
			<div class="col-6">
				<h1>Sign Up</h1>
				<form>
					<p class="lead">Please sign up for an account to access
						ScoreSensei</p>
					<div class="form-group">
						<label for="inputEmail">Email</label>
						<input
							type="email"
							class="form-control"
							id="register-email"
							placeholder="Email"
						/>
					</div>
					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input
							type="password"
							class="form-control"
							id="register-password"
							placeholder="Password"
						/>
					</div>
					<div class="form-group">
						<label for="inputPhone">Phone Number</label>
						<input
							type="text"
							class="form-control"
							id="register-phone"
							placeholder="Phone Number"
						/>
					</div>
					<button
						type="submit"
						class="btn btn-primary"
						id="signUpBtn"
					>Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</div>