<div>
  <input type="text">
  <button id="searchButton">Search</button>
</div>

<div id="results">
  {{#if data.team}}
    <p>{{data.team.name}}</p>
  {{else}}
    <p>No Results Found</p>
  {{/if}}
</div>

<script src="/js/search.js"></script>
