<div class="d-flex">
	<form name="form1" id="form1" class="inline-item">
		Select your Sport:
		<select name="subject" id="subject">
			<option value="Basketball" selected="selected">Basketball</option>
			<option value="Soccer">Soccer</option>
			<option value="AmericanFootball">Football</option>
			<option value="Hockey">Hockey</option>
			<option value="Baseball">Baseball</option>
		</select>
		<input type="text" class="inline-item" />
		<input type="submit" id="searchButton" value="Submit" />
		<input type="submit" id="favoriteButton" value="Save Team" />
	</form>
</div>

<div id="results">
</div>
<div id="tableContainer"></div>
<div id="matchFixtures"></div>
<script src="/js/search.js"></script>

